@media (min-width: 992px) {
}
@media (min-width: 768) and (max-width: 991) {
}
@media (max-width: 767px) {
}
.row {
  width: 100%;
}
.p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.h2 {
  font-size: 17.5px;
  font-family: Arial, Helvetica, sans-serif;
}
.h1 {
  font-size: 24.5px;
}
